<h2>SUMMARY</h2>
<p>
  An experienced web developer. Good in HTML, CSS, Bootstrap, JavaScript, jQuery, React, Git. I know what is Scrum and how to work in it. Previously I worked as a teacher in my own dancing school, but now I decided to turn hobby into main employment, because I understood that programming is all I love. I want to grow and improve myself as a Front-End Developer. I see myself as a successful Senior UI/Front-End Developer in the future.
</p>
<p>
  Reliable, energetic, punctual, initiative, proactive and self-motivated team member. Always result oriented. Have a
  great desire to learn new languages/ frameworks/ technologies and to grow as a UI/Front-End Developer, because I
  really love it.
</p>
