<h2>FEEDBACKS</h2>
<label for="currency">Currency: </label>
<!-- <select ng-options="for currency in currencies" ng-model="selected"></select> -->
  <select name="currency" id="currency" [(ngModel)]="currentCurrency" (change)="onChange()">
  <option *ngFor="let currency of currencies; let i=index" [value]="currency">
    {{currency}}
  </option>
</select>
<p></p>
<div *ngIf="feedbacks.length">
  <div *ngFor="let feedback of feedbacks; let i=index">
    <h3>Feedback #{{i+1}}</h3>
    <span>Written by <b>{{feedback.name}}</b>. </span>
    <span>Email: <i>{{feedback.email}}. </i></span>
    <span *ngIf="feedback.birthday">Born in <u>{{feedback.birthday}}</u>. </span>
    <span *ngIf="feedback.salary" [ngSwitch]="currentCurrency">
      <span *ngSwitchCase="'USD'">Salary <u>{{feedback.salary / 60 | currency: currentCurrency : code}}</u>.</span>
      <span *ngSwitchCase="'KGS'">Salary <u>{{feedback.salary | currency: currentCurrency : code}}</u>.</span>
      <span *ngSwitchCase="'UAH'">Salary <u>{{feedback.salary * 0.4 | currency: currentCurrency : code}}</u>.</span>
    </span>
    <p>{{feedback.feedback}}</p>
    <hr>
  </div>
</div>
<form [formGroup]="formData" (ngSubmit)="onSubmit(formData)" #form="ngForm">
  <div>
    <!--directive for highlighting button on hover-->
    <div>
      <label for='name'>Name: *</label>
      <br>
      <input type="text" formControlName="name" id="name" placeholder="Name" required>
      <app-validation-error-message [displayError]="isFieldValid('name')" errorMsg="Please inform your name.">
      </app-validation-error-message>
    </div>
    <div>
      <label for="email">Email: *</label>
      <br>
      <input type="email" formControlName="email" id="email" placeholder="Email" required>
      <app-validation-error-message [displayError]="isFieldValid('email')" errorMsg="Please inform your correct email.">
      </app-validation-error-message>
    </div>
    <div>
      <label for="birthday">Date of birth:</label>
      <br>
      <input type="date" formControlName="birthday" id="birthday">
      <app-validation-error-message [displayError]="isFieldValid('birthday')" errorMsg="You must be aged 18+ !">
      </app-validation-error-message>
    </div>
    <div>
      <label for="salary">Salary ({{currentCurrency}}):</label>
      <br>
      <input 
        type="number"
        formControlName="salary"
        (change)="onChange()"
        max="1000000"
        min="0.00"
        id="salary"
        placeholder="Salary"
      >
      <br>
      <input *ngIf="false"
        type="number"
        formControlName="salaryKGS"
        id="salaryKGS"
        >
      <span>{{formData.get('salary').value | currencyConvert: currentCurrency | currency: 'KGS'}}</span>
      <app-validation-error-message [displayError]="isFieldValid('salaryKGS')"
        errorMsg="Your salary should be not more than 1kk KGS.">
      </app-validation-error-message>
    </div>
    <br>
    <div>
      <label for="feedback">
        Leave feedback here: *
      </label>
      <br>
      <textarea formControlName="feedback" placeholder="Feedback..." required id="feedback"></textarea>
      <app-validation-error-message [displayError]="isFieldValid('feedback')" errorMsg="Please write some feedback.">
      </app-validation-error-message>
    </div>
  </div>
  <br>
  <button type="submit" [disabled]="!form.valid" appHighlight>Leave Feedback</button>
</form>
