hr {
    width: 75%;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}

input {
    width: 300px;
}

.ng-invalid.ng-touched {
    border-color: rgb(255, 171, 76);
}

textarea {
    width: 300px;
    height: 100px;
    resize: none;
}